* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    /* background-image: url('background.jpg'); */
    /* height: 100vh;
     width: 100vw;
     background-repeat: no-repeat; */
    color: white;
    font-weight: bold;
    /* background-color: #84dcf1;  */
}

body::before {
    background: url('../images/background10.jpg');
    background-repeat: no-repeat;
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
}

.container {
    display: flex;
    /* background-color: red; */
    height: 100vh;
    /* flex-wrap: wrap; */
}

.sidebar {
    display: flex;
    /* background-color: rgb(250, 245, 245); */
    width: 9vw;
    height: 100vh;
    color: white;
    flex-wrap: wrap;
    width: fit-content;
    position: absolute;
    /* font-weight:100 */
    transition: transform 0.3s ease-out;
}

.sidebar::before {
    background-color: rgb(1, 7, 26);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

.sidebarGo {
    transform: translate(-4420px, 0px);
    position: absolute;
}

.sidebar ul li a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-weight: normal;
}

.sidebar ul li a:hover {
    color: rgb(82, 76, 76);
    text-decoration: underline;
}

.sidebar nav ul li {
    font-size: 19px;
    padding: 21px 20px;
}

.sidebar nav {
    margin-top: 30px;
}

.main {
    /* background-color: pink; */
    display: flex;
    flex-wrap: wrap;
    width: 91vw;
    padding: 0px 10px;
}

.infoContainer {
    /* background-color: rgb(11, 62, 201); */
    height: 56vh;
    width: 167vh;
    margin: 41px 120px;
    pad: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.Myimage img {
    width: 308px;
    height: 385px;
    padding: 62px;
    margin-top: -25px;
    opacity: 0.8;
}

#MyPic {
    border: 2ps solid white;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-top: 49px;
    margin-left: 10px;
    font-weight: normal;
}

.hello {
    font-size: 40px;
}

.name {
    font-size: 50px;
}

.about {
    font-size: 30px;
}

.btn button {
    margin: 20px 7px;
    padding: 10px 13px;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(125, 128, 128);
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #999;
}

.btn button:hover {
    background-color: rgba(61, 54, 54, 0.466);
    text-decoration: underline;
    color: white;
    font-weight: lighter;
}

.more {
    /* background-color: gold; */
    margin: 30px auto;
    padding: 10px;
}


/* @media screen and (max-width: 1115px) { */


/* body { */


/* background-color: lightgreen; */


/* } */


/* .sidebar{
             transform: translate(-4420px, 0px); 
              position: absolute; 
         } */


/* } */

.hamburger {
    position: absolute;
    left: 1px;
    top: 6px;
    cursor: pointer;
}

.cross {
    margin-left: 116px;
}

.di {
    margin: -60px 151px
}

.icons {
    display: flex;
    position: absolute;
    right: 18px;
    top: 10px;
}

.m1 {
    display: flex;
    flex-direction: column;
    padding: 2px 10px;
    font-size: 15px;
}

.m2 {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    font-size: 15px;
}

.m3 {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    font-size: 15px;
    margin-top: 3px;
}

.icons a {
    color: white;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width: 668px) {
    .icons {
        left: 131px;
        top: 3px;
    }
}

@media screen and (max-width: 1490px) {
    body {
        background: url('../images/background10.jpg');
        height: 100vh;
        width: 100vw;
        opacity: 0.9;
    }
}

@media screen and (max-width: 1091px) {
    .sidebar {
        width: 8vw;
        height: 100vh;
        background-color: rgb(12, 12, 71);
        flex-wrap: wrap;
        width: fit-content;
        position: absolute;
    }
    .sidebar a {
        font-size: 17px;
        /* margin: 0px -17px; */
        padding: 0px 3px;
    }
    .cross {
        margin-left: 100px;
    }
}

footer {
    border: 2px solid rgb(31, 10, 107);
    position: relative;
    background-color: rgb(9, 9, 25);
    color: white;
    text-align: center;
    font-size: smaller;
    font-weight: lighter;
}

.footerlinks {
    margin: 10px 20px;
}

.footerinfo h3 {
    margin: 10px 20px;
    text-decoration: underline;
}

.ft {
    color: rgb(76, 114, 184);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.footerlinks a {
    display: inline-block;
}

.footerlinks a:hover {
    text-decoration: underline;
    color: rgb(47, 47, 165);
}

.copyright {
    text-align: center;
    margin-top: 15px;
}

@media screen and (max-width: 1334px) {
    footer {
        position: relative;
        top: 500px;
        background-color: rgb(13, 13, 54);
        width: 150%;
    }
}


/* style for welcome  bar */

@media screen and (max-width: 1302px) {
    .welcome {
        left: 374px;
    }
    .side1 {
        left: 425px;
    }
    .side2 {
        left: 425px;
    }
}

@media screen and (min-width: 1400px) {
    .welcome {
        border: 1px solid white;
        height: 82px;
        width: 477px;
        position: relative;
        left: 484px;
        display: inline-block;
        text-align: center;
        margin-top: 20px;
        border-radius: 5px;
        box-shadow: 6px 4px 41px #999;
    }
    .welcome,
    h2 {
        /* margin-top: 10px; */
        display: inline-block;
        position: relative;
        top: 4px;
        font-size: 50px;
        font-weight: lighter;
        font-family: 'Dancing Script', cursive;
        font-family: 'Inconsolata', monospace;
        /* /* font-family: 'Roboto Mono', monospace; */
        font-family: 'Roboto Slab', serif;
        font-family: 'Ubuntu Mono', monospace;
        font-family: 'Work Sans', sans-serif;
    }
    .fan1 {
        position: relative;
        top: 10px;
        left: -30px;
        animation: rotation infinite .4s linear;
    }
    .fan2 {
        position: relative;
        top: 10px;
        right: -30px;
        animation: rotation infinite .4s linear;
    }
    .fan1:hover {
        animation: rotation infinite 1s linear;
    }
    .fan2:hover {
        animation: rotation infinite 1s linear;
    }
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .side1 {
        border: 1px solid white;
        width: 5px;
        height: 23px;
        position: relative;
        left: 568px;
        display: inline-block;
        overflow: hidden;
    }
    .side2 {
        border: 1px solid white;
        width: 5px;
        height: 23px;
        position: relative;
        left: 400px;
        display: inline-block;
        overflow: hidden;
    }
    .devinfo {
        margin-top: 0px;
    }
    .Myimage img {
        margin-top: -100px;
    }
}

@media screen and (max-width: 1400px) {
    .sidebar {
        background-color: #0c0c47;
    }
    .welcome {
        display: none;
    }
    .welcome,
    h2 {
        display: none;
    }
    .side1 {
        display: none;
    }
    .side2 {
        display: none;
    }
}